<!DOCTYPE html>
<html lang="en">
  <head>
    <title>S & D Period Tracker</title>
    <link rel="shortcut icon" href="/images/icon.png" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>S & D Period Tracker</h1>
      <div class="projectGrid">
        <div class="txtbox">
          <form action="/dashboard" method="POST">
            <div class="">
              <label for="periodDate">Last Period Date:</label>
              <input type="date" id="periodDate" name="lastPeriodDate" required value="<%=date%>" />
            </div>
            <br />
            <div class="">
              <label for="periodCycle">Period Cycle:</label>
              <input type="number" id="periodCycle" name="periodCycle" value="<%=periodCycle%>" required />
            </div>
            <br />
            <div class="">
              <label for="periodDays">Period Days:</label>
              <input type="number" id="periodDays" name="periodDays" value="4" required />
            </div>
            <br />
            <div class=""><input type="submit" class="btn" value="Submit" /></div>
          </form>
        </div>
        <div class="txtbox">
          <h4>Your Next Estimated Period Date:</h4>
          <strong>From:</strong> <%=message.from%> &nbsp;&nbsp;&nbsp;<strong> To:</strong> <%=message.to%>
          <hr />

          <div style="width: 100%; height: 215px; overflow: auto;">
            <center>
              <strong>Historic Data:</strong>
              <hr />
              <table class="content-table">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Period Cycle</th>
                    <th>Period Days</th>
                    <th>Health Status</th>
                  </tr>
                </thead>
                <tbody>
                  <%data.forEach(function(data) { %>
                  <tr>
                    <td>
                      <%=data.pDate%>
                    </td>
                    <td>
                      <%=data.pCycle%>
                    </td>
                    <td>
                      <%=data.pDays%>
                    </td>
                    <td>
                      <%=data.status%>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </center>
          </div>
        </div>
      </div>
      <div class="footer">S & D Period Tracker | github: @Sajjal</div>
    </div>
  </body>
</html>
